@use '../abstracts' as *;

.badge {
    color: #fff;
    background-color: $col-dark-1;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 700;

    &--light {
        background-color: #fff;
        color: $col-primary;
    }

    &--shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    }
}
