@use '../abstracts' as *;

.music-notes {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // z-index: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);

    &__note {
        // position: absolute;
        fill: $col-primary;
    }
}
