@use '../abstracts' as *;

.pg-index {
    &__section {
        display: flex;
        align-items: center;
        margin: -$gutter;

        @include respond(1400) {
            grid-template-columns: 100%;
            grid-gap: $gutter;
            width: 100%;
        }

        p {
            font-weight: 400;
            font-size: 1.7rem;
        }

        &--dark p {
            color: $col-light-4;
        }
    }

    &__section-graphic {
        margin: $gutter;
        flex: 0 0 auto;

        & > svg {
            width: 500px;
        }

        @include respond(1400) {
            display: none;
        }
    }

    &__section-main {
        margin: $gutter;
    }

    &__section-top-text {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 1.1rem;
        color: $col-dark-3;
    }

    &__section--dark &__section-top-text {
        color: $col-light-4;
    }

    &__section-heading-container {
        margin: 1rem 0;
        display: flex;
        align-items: center;
    }

    &__section-heading {
        font-size: 3.2rem;
    }

    &__section-icon-container {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: $col-primary;
        margin-right: 2rem;
    }

    &__section-icon {
        width: 2rem;
        height: 2rem;
        fill: $col-light-1;
        display: block;
    }

    &__section-technology-list {
        display: flex;
        flex-flow: row wrap;
        margin: -0.5rem;
        margin-top: $gutter / 2;

        & > li {
            margin: 0.5rem;
        }
    }
}
