@use '../abstracts' as *;

.pg-index {
    &__about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: $gutter 0 0 0;

        @include respond(1400) {
            grid-template-columns: 100%;
            grid-gap: $gutter;
            width: 100%;
        }

        p {
            color: $col-light-4;
            font-weight: 400;
            font-size: 1.7rem;
        }
    }

    &__about-graphic {
        @include respond(1400) {
            display: none;
        }
    }

    &__about-top-text {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 1.2rem;
        color: $col-light-4;
    }

    &__about-heading-container {
        margin: 1rem 0;
        display: flex;
        align-items: center;
    }

    &__about-heading {
        font-size: 3.2rem;
    }

    &__about-icon-container {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: $col-primary;
        margin-right: 2rem;
    }

    &__about-icon {
        width: 2rem;
        height: 2rem;
        fill: $col-light-1;
        display: block;
    }

    &__about-technology-list {
        display: flex;
        flex-flow: row wrap;
        margin: -0.5rem;
        margin-top: $gutter / 2;

        & > li {
            margin: 0.5rem;
        }
    }
}
