@use './variables' as *;

@mixin respond($breakpoint) {
    @media only screen and (max-width: $breakpoint * 1px) {
        @content;
    }
}

@mixin margin($size) {
    width: $size * 1px;
    margin: 0 auto;
    max-width: calc(100% - (#{$gutter * 2}));
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
