@use './variables' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    border: none;
    color: inherit;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

::-webkit-input-placeholder {
    color: $col-light-3;
    font-weight: 400;
}

ul {
    list-style: none;
    padding: 0;
}

fieldset {
    min-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}
h1 {
    font-size: 3.6rem;
    font-weight: 900;
}
h2 {
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.8rem;
}
h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: $col-dark-3;

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }

    a {
        color: $col-primary;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
