$col-primary: #5e3aef;
$col-secondary: #22ac3b;
$col-tertiary: #22ac3b;

$col-primary-light: lighten($col-primary, 10%);
$col-secondary-light: lighten($col-secondary, 10%);
$col-tertiary-light: lighten($col-tertiary, 10%);

$col-light-1: #fff;
$col-light-2: #fbfbfd;
$col-light-3: #eee;
$col-light-4: rgba(255, 255, 255, 0.8);

$col-dark-1: #101322;
$col-dark-2: #0f1221;
$col-dark-3: #5b5675;
$col-dark-4: rgba(#101322, 0.6);

$gutter: 3rem;

$radius: 0.3rem;

$timing-function-elastic: cubic-bezier(0.34, 1.56, 0.64, 1);
