@use '../abstracts' as *;

.footer {
    padding: $gutter * 1.5 $gutter * 1.5 0 $gutter * 1.5;

    background-color: $col-light-1;
    box-shadow: -10px -10px 40px 0 rgba(56, 50, 124, 0.38);

    &__inner {
        @include margin(1600);
        margin: 0 auto 0 auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $gutter;
    }

    &__head {
        text-align: center;
    }

    &__heading {
        font-family: 'CircularBold', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: rgba($col-dark-2, 0.9);

        text-transform: uppercase;
        letter-spacing: 5px;
        word-spacing: 0.5rem;

        background-color: $col-dark-2;
        color: #fff;

        display: inline-block;
        padding: $gutter / 2 $gutter;
        border-radius: $radius;
    }

    &__link-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $gutter;

        width: 1000px;
        margin: 0 auto;
    }

    &__link-item {
    }

    &__link {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;

        padding: $gutter;
        border-radius: $radius * 2;

        background-color: #fff;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

        transition: 0.2s ease;

        &:hover {
            background-color: $col-dark-2;
            color: $col-light-2;
            transform: translateY(-5px);
        }
    }

    &__link-icon {
        width: 2.4rem;
        height: 2.4rem;
        fill: currentColor;
    }

    &__link-heading {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 1.4rem;
    }

    &__link-text {
        font-size: 1.3rem;
        color: $col-dark-3;
        transition: 0.2s ease;
    }
    &__link:hover &__link-text {
        color: $col-light-4;
    }

    &__dummy-link {
        display: inline-block;
        color: $col-primary;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 1.1rem;
        margin-top: 1rem;

        transition: 0.2s ease;

        svg {
            width: 0.8rem;
            margin-left: 0.5rem;
            transform: rotate(90deg);
            fill: currentColor;
        }
    }

    &__link:hover &__dummy-link {
        color: $col-primary-light;
    }

    &__lower {
        padding: 1.5rem 1.5rem 0 1.5rem;

        display: flex;
        flex-direction: column;
    }

    &__lower-top {
        padding: 3rem 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__email {
        display: flex;
        align-items: stretch;
        background-image: linear-gradient(to bottom left, lighten($col-dark-2, 10%), lighten($col-dark-2, 20%));
        border-radius: $radius;

        min-width: 24rem;

        svg {
            width: 1.6rem;
            fill: rgba(255, 255, 255, 0.7);
            display: block;
            padding: 1.2rem;
            box-sizing: content-box;
            transition: 0.1s ease;
        }

        a {
            background-color: rgba(255, 255, 255, 0.08);
            border-left: 1px dashed rgba(255, 255, 255, 0.075);
            padding: 1.2rem;

            order: 1;
            flex: 1;

            display: flex;
            align-items: center;

            color: rgba(255, 255, 255, 0.85);
            font-size: 1.4rem;
            // text-transform: uppercase;
            // font-weight: 400;
            // letter-spacing: 2px;

            transition: 0.1s ease;

            &:hover {
                color: $col-light-1;
                background-color: rgba(255, 255, 255, 0.15);
            }
        }
        a:hover + svg {
            fill: $col-light-1;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &__lower-section {
    }

    &__lower-heading {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: $col-dark-2;
    }

    &__social-list {
        display: flex;
        justify-content: flex-end;
    }

    &__social-item {
        position: relative;
        margin: 0 0.5rem;
    }

    &__lower-bottom {
        padding: 3rem 0;

        p {
            font-size: 1.4rem;
            color: $col-dark-3;
        }
    }
}

.section--dark + .footer {
    background-color: $col-dark-2;
}
