@use '../abstracts' as *;

.nav {
    background-color: $col-light-1;
    box-shadow: -10px 10px 40px 0 rgba(56, 50, 124, 0.08);

    &__inner {
        width: 1600px;
        max-width: 100%;
        margin: 0 auto;

        padding: 3rem 1.5rem;

        display: flex;
        align-items: center;
    }

    &__logo-container {
        margin-right: 2rem;
    }

    &__logo {
        height: 4rem;
    }

    &__main {
        flex: 1;
    }

    &__link-list {
        display: flex;
        align-items: center;
        margin: 0 1.5rem;
    }

    &__link-item {
        margin: 0 1.5rem;
    }

    &__link {
        font-size: 1.6rem;
        font-weight: 400;
        color: $col-dark-3;

        padding: 0.75rem;
        border-radius: $radius;

        cursor: pointer;
        user-select: none;
        transition: 0.1s ease;

        &--icon {
            border-radius: 100%;
            display: block;
            position: relative;
            padding: 1rem;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba($col-primary, 0.1);
                border-radius: 100%;

                width: 1rem;
                height: 1rem;
                opacity: 0;

                transition: 0.2s ease;
            }

            svg {
                display: block;
                width: 1.6rem;

                fill: currentColor;
            }

            &:hover {
                &::after {
                    width: 3.5rem;
                    height: 3.5rem;
                    opacity: 1;
                }

                svg {
                    color: $col-primary;
                }
            }
        }

        &--fill {
            padding: 1.2rem 2rem;
            background-color: $col-primary;
            color: $col-light-2;

            font-size: 1.4rem;
            font-weight: 600;

            &:hover {
                background-color: $col-primary-light;
                color: $col-light-1;
            }
        }

        &:not(&--fill):not(&--icon):hover {
            color: $col-primary;
            background-color: rgba($col-primary, 0.1);
        }
    }
}
