@use '../abstracts' as *;

.section {
    padding: 3rem 0;
    position: relative;

    &--wave {
        margin: 8rem 0 0 0;

        @include respond(992) {
            margin: 0;
        }
    }

    &--dark {
        background-color: $col-dark-2;
        color: $col-light-2;
    }

    &__wave {
        position: absolute;
        bottom: 100%;
        fill: $col-light-1;
        transform: scaleY(0.3) translateY(3px);
        transform-origin: bottom;

        @include respond(992) {
            display: none;
        }
    }

    &--dark &__wave path {
        background-color: $col-dark-2;
    }

    &__margin {
        @include margin(1400);
        @include respond(1500) {
            width: 100%;
        }
    }
}
